streamlit==1.40.0
pyvis==0.3.2
networkx==3.3

pandas==2.2.2
numpy==1.26.4

beautifulsoup4==4.12.3
requests==2.31.0

rapidfuzz==3.9.1
python-Levenshtein==0.25.1

tqdm==4.66.2
rich==13.7.1

